* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
select,
textarea,
button {
  font-family: inherit;
}
