@media (min-width: 600px){
  .header {
    padding-top: 50px;
  }

  .container {
    width: 100%;
    max-width: calc(100% + 120px);
    padding-left: 60px;
    padding-right: 60px;
  }

  .wrapper_header {
    gap: 30px;
    grid-template-areas:
      "b"
      "a"
      "c";
  }

  .top_menu {
    background-color: transparent;
    margin: 0;
  }

  .dot {
    display: inline-block;
  }

  .street {
    display: block;
  }

  .bg_color .street {
    color: #ffffff;
  }

  .facebook {
    display: block;
  }

  .facebook:hover path {
    fill: #f0145a;
  }
  
  .hamburger,
  .toggle_menu {
    display: none;
  }

  .bot_menu_nav {
    position: static;
    transition: none;
  }

  .top_menu,
  .navigation,
  .bot_menu_nav,
  .bot_menu,
  .bot_menu_nav .bot_menu li a {
    padding: 0;
  }

  .navigation {
    justify-self: start;
  }

  .bot_menu {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border-radius: 0;
  }

  .bot_menu_nav .bot_menu li a {
    font-size: 16px;
    line-height: 20px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 0;
  }

  .bot_menu_nav ul li .nav_link:active {
    background: none;
  }

  .bg_color .nav_link:hover {
    border-bottom: 2px solid #ffffff;
  }

  .grand_logo_title {
    max-width: 100%;
  }

  .nav-content-pg {
    padding-top: 60px;
  }

  .nav-tabs {
    margin-right: -60px;
    margin-left: -60px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .nav-tabs > li {
    font-size: 38px;
    line-height: 46px;
  }

  .tab-content {
    padding-top: 60px;
    margin-top: 60px;
  }

  .tab-pane-title {
    font-size: 30px;
    line-height: 37px;
  }

  .services_block {
    padding-top: 60px;
  }

  .services_title {
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 60px;
  }

  .services_block_card {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  .main {
    padding-top: 80px;
  }

  .team_text {
    font-size: 38px;
    line-height: 46px;
  }

  .partner_cards {
    grid-template-columns: repeat(3, 1fr);
    height: auto;
  }

  .publication_card_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  #f {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .publications_title {
    font-size: 38px;
    line-height: 46px;
  }
}

@media (min-width: 678px) {
  .wrapper_footer{
    grid-template-areas: 
    "one three"
    "two two";
    max-width: 100%;
    justify-content: space-between;
  }

  .company_information {
    flex-direction: row;
  }

  .social_phone {
    flex-direction: row;
    margin-bottom: 0;
  }
}

@media (min-width: 900px) {
  .container {
    max-width: calc(904px + 2rem);
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
  }

  .wrapper_header {
    gap: 16px;
    grid-template-areas:
      "a b"
      "a c";
  }

  .navigation {
    justify-self: end;
  }

  .nav-content-flex {
    flex-direction: row;
    align-items: center;
  }

  .nav-tabs {
    height: 303px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    margin: 0;
    padding: 0;
    margin-right: 60px;
    padding-right: 60px;
    border-right: 4px solid rgba(255, 255, 255, 0.3);
  }

  .tab-content {
    padding-top: 0;
    margin-top: 0;
    border: none;
  }

  .services_block_card {
    grid-template-columns: repeat(3, 1fr);
  }

  .slick-initialized .slick-slide {
    display: flex;
  }

  .team_picture {
    max-width: 400px;
    height: 528px;
    border-radius: 12px 0 0 12px;
  }

  .partner_cards {
    grid-template-columns: repeat(4, 1fr);
  }

  .publication_card_wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  #f {
    grid-column-start: initial;
    grid-column-end: initial;
  }
}

@media (min-width: 1300px) {
  .container {
    max-width: calc(1320px + 2rem);
  }

  .container_main {
    max-width: calc(1080px + 2rem);
  }

  .team_picture {
    height: 344px;
  }
}

@media (min-width: 1600px){
  .container {
    max-width: calc(1600px + 2rem);
  }

  .container_main {
    max-width: calc(1360px + 2rem);
  }

  .partner_container {
    padding-bottom: 60px;
  }

  .team_picture {
    height: 298px;
  }
}