/* @import url(../content_media.css/media_header.css); */

@media (max-width: 1600px) {
  .container {
    max-width: calc(1320px + 2rem);
  }

  .container_main {
    max-width: calc(1080px + 2rem);
  }

  .team_picture {
    height: 344px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: calc(904px + 2rem);
  }

  .team_picture {
    height: 528px;
    object-fit: cover;
  }
}

@media (max-width: 768px) {

  .container {
    max-width: calc(648px + 2rem);
  }

  .wrapper_header {
    gap: 30px;
    grid-template-areas:
      "b"
      "a"
      "c";
  }

  /* .grand_logo {
    background-size: cover;
  } */

  .nav-content-flex {
    flex-direction: column;
    align-items: flex-start;
  }

  .wrap {
    width: 100%;
    /* overflow-x: hidden;
    margin: 0 -16px;
    border: 2px solid red; */
  }

  .mid_container{
    width: 100%;
    max-width: 768px;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    padding: 0 60px;
    margin: 0;
  }

  .nav-tabs {
    /* width: 100%; */
    /* white-space: nowrap; */
    overflow-x: auto;
    /* margin-left: -60px; */
    margin-right: -60px;
    /* padding-left: 60px; */
    /* padding-right: 60px; */
  }



  .nav-tabs::-webkit-scrollbar {
    display: none;
  }

  .nav-tabs {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* .nav-content-flex {
    width: 100%;
    max-width: calc(1360px + 2rem);
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
  } */

  .services_block_card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  .nav-tabs {
    flex-direction: row;
    border-right: none;
    /* padding-right: 0; */
    /* margin-right: 0; */
    border-bottom: none;
    height: 100%;
    justify-content: flex-start;
  }

  .tab-content {
    border-top: 4px solid #ddd;
    padding-top: 60px;
    margin-top: 60px;
  }
  .slider_card {
    flex-direction: column;
  }

  .team_picture {
    width: 100%;
    max-width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
  }

  .wrapper_main {
    flex-direction: column;
  }

  .partner_cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .publication_card_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  #f {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .bot_menu {
    justify-content: flex-start;
  }

  .wrapper_footer {
    flex-direction: column;
    margin: 0 auto;
    max-width: max-content;
    text-align: center;
  }

  .information_holder {
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  body {
    display: block;
  }

  body.lock {
    overflow: hidden;
  }

  .sm_container_header {
    max-width: 100%;
  }

  .sm_container_main {
    max-width: 100%;
    padding: 0 30px;
  }

  .header {
    padding: 0 0 10px;
  }

  .wrapper_header {
    padding-top: 0;
    grid-template-areas:
      "b b"
      "a c";
    gap: 15px;
  }

  .logo {
    position: relative;
    z-index: 5;
  }

  .logo_pic {
    display: none;
  }

  .page_name {
    font-size: 20px;
    line-height: 24px;
    color: #323264;
  }

  .top_menu {
    position: relative;
    margin-left: -1rem;
    margin-right: -1rem;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: rgba(245, 245, 250, 0.2);
    z-index: 5;
  }

  .dot {
    display: none;
  }

  .street {
    display: none;
  }

  .facebook {
    display: none;
  }

  .active_page {
    color: #f0145a;
    border: none;
  }

  .nav_link:hover {
    border-bottom: none;
  }

  .bot_menu_nav {
    position: fixed;
    top: 100%;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: transparent;
    padding: 95px 8px 0;
    transition: all 0.5s ease-in-out;
    z-index: 2;
  }

  .bot_menu {
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 12px 12px 0px 0px;
    padding: 20px 12px 0;
  }

  .bot_menu_nav .bot_menu li a {
    display: block;
    text-align: center;
    padding: 7px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    background-color: #f5f5fa;
    color: #24a3ff;
    border-radius: 12px;
  }

  .bot_menu_nav ul li .nav_link:active {
    background: #e6e6f0;
  }

  .bg_color .nav_link:hover{
    border-bottom: none;
  }

  .hamburger {
    position: relative;
    width: 18px;
    height: 2px;
    right: 0;
    background-color: #ffffff;
    z-index: 2;
    transition: all 0.5s ease-in-out;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    height: 2px;
    right: 0;
    background-color: #ffffff;
    transition: all 0.5s ease-in-out;
  }

  .hamburger::before {
    top: -6px;
    width: 18px;
  }

  .hamburger::after {
    top: 6px;
    width: 18px;
  }

  .toggle_menu {
    position: absolute;
    width: 18px;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
    background-color: transparent;
  }

  .hamburger,
  .toggle_menu {
    display: inline-block;
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-self: end;
    padding: 10px 7px;
    width: max-content;
  }

  .navigation input:checked ~ .hamburger {
    background: transparent;
  }

  .navigation input:checked ~ .hamburger::before {
    top: 0;
    transform: rotate(-45deg);
    background-color: #ec6f5d;
  }

  .navigation input:checked ~ .hamburger::after {
    top: 0;
    transform: rotate(45deg);
    background-color: #ec6f5d;
  }

  .navigation input:checked ~ .bot_menu_nav {
    top: 0;
  }

  /* .grand_logo {
    min-height: initial;
    aspect-ratio: 375/600;
  } */

  .grand_logo_title {
    max-width: 315px;
  }

  .nav-content-pg {
    padding-top: 30px;
  }

  .nav-tabs{
    gap: 30px;
    margin-right: -30px;
  }

  .nav-tabs > li {
    font-size: 30px;
    line-height: 37px;
  }

  .tab-content {
    padding-top: 30px;
    margin-top: 30px;
  }

  .tab-pane-title {
    font-size: 20px;
    line-height: 24px;
  }

  .services_block {
    padding-top: 30px;
  }

  .services_title {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 30px;
  }

  .services_block_card {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .main {
    padding: 30px 0;
  }

  .wrapper_main {
    gap: 30px;
  }

  .team_text {
    font-size: 30px;
    line-height: 37px;
  }

  .partner_cards {
    /* display: flex;
      flex-direction: column; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 720px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  .partner_cards::-webkit-scrollbar {
    display: none;
  }

  .partner_cards {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .publications_title {
    font-size: 30px;
    line-height: 37px;
  }

  .publication_card_wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  #f {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .company_information {
    flex-direction: column;
  }

  .social_phone {
    flex-direction: column;
  }
}
