@media (max-width: 1600px) {
  .container {
    max-width: calc(1320px + 2rem);
  }

  .container_main {
    max-width: calc(1080px + 2rem);
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: calc(904px + 2rem);
  }
}

@media (max-width: 768px) {
  .container {
    max-width: calc(648px + 2rem);
  }

  .wrapper_header {
    gap: 30px;
    grid-template-areas:
      "b"
      "a"
      "c";
  }

  .wrapper_main {
    flex-direction: column;
  }

  .bot_menu {
    justify-content: flex-start;
  }

  .wrapper_footer {
    flex-direction: column;
    margin: 0 auto;
    max-width: max-content;
    text-align: center;
  }

  .publication_card_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  #f {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .information_holder {
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  body.lock {
    overflow: hidden;
  }

  .sm_container_header {
    max-width: 100%;
  }

  .sm_container_main {
    max-width: 100%;
    padding: 0 30px;
  }

  .header {
    padding: 0 0 10px;
  }

  .wrapper_header {
    padding-top: 0;
    grid-template-areas:
      "b b"
      "a c";
    gap: 15px;
  }

  .logo {
    position: relative;
    z-index: 5;
  }

  .logo_pic {
    display: none;
  }

  .page_name {
    font-size: 20px;
    line-height: 24px;
    color: #323264;
  }

  .top_menu {
    position: relative;
    margin-left: -1rem;
    margin-right: -1rem;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: rgba(245, 245, 250, 0.2);
    z-index: 5;
  }

  .dot {
    display: none;
  }

  .street {
    display: none;
  }

  .facebook {
    display: none;
  }

  .active_page {
    color: #f0145a;
    border: none;
  }

  .nav_link:hover {
    border-bottom: none;
  }

  .bot_menu_nav {
    position: fixed;
    top: 100%;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: transparent;
    padding: 95px 8px 0;
    transition: all 0.5s ease-in-out;
    z-index: 2;
  }

  .bot_menu {
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 12px 12px 0px 0px;
    padding: 20px 12px 0;
  }

  .bot_menu_nav .bot_menu li a {
    display: block;
    text-align: center;
    padding: 7px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    background-color: #f5f5fa;
    color: #24a3ff;
    border-radius: 12px;
  }

  .bot_menu_nav .bot_menu li .active_page {
    color: #f0145a;
  }

  .bot_menu_nav ul li .nav_link:active {
    background: #e6e6f0;
  }

  .bg_color .nav_link:hover{
    border-bottom: none;
  }

  .hamburger {
    position: relative;
    width: 18px;
    height: 2px;
    right: 0;
    background-color: #ffffff;
    z-index: 2;
    transition: all 0.5s ease-in-out;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    height: 2px;
    right: 0;
    background-color: #ffffff;
    transition: all 0.5s ease-in-out;
  }

  .hamburger::before {
    top: -6px;
    width: 18px;
  }

  .hamburger::after {
    top: 6px;
    width: 18px;
  }

  .toggle_menu {
    position: absolute;
    width: 18px;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
    background-color: transparent;
  }

  .hamburger,
  .toggle_menu {
    display: inline-block;
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-self: end;
    padding: 10px 7px;
    width: max-content;
  }

  .navigation input:checked ~ .hamburger {
    background: transparent;
  }

  .navigation input:checked ~ .hamburger::before {
    top: 0;
    transform: rotate(-45deg);
    background-color: #ec6f5d;
  }

  .navigation input:checked ~ .hamburger::after {
    top: 0;
    transform: rotate(45deg);
    background-color: #ec6f5d;
  }

  .navigation input:checked ~ .bot_menu_nav {
    top: 0;
  }

  .ecommerce_title {
    font-size: 30px;
    line-height: 37px;
  }

  .services_card_block{
    padding-bottom: 30px;
  }

  .services_area_list {
    columns: 1;
  }

  /* .main {
    padding: 30px 0;
  }

  .wrapper_main {
    gap: 30px;
  } */

  .partner_cards {
    /* display: flex;
      flex-direction: column; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 720px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  .partner_cards::-webkit-scrollbar {
    display: none;
  }

  .partner_cards {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .publication_card_wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  #f {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .company_information {
    flex-direction: column;
  }

  .social_phone {
    flex-direction: column;
  }

  .main_text_form {
    font-size: 30px;
    line-height: 37px;
  }
}
