@import url(../content/null_for_all.css);
@import url(../content/header.css);
@import url(../content/footer.css);

.about_us_wrapper {
  display: flex;
}

.gap_small {
  gap: 30px;
}

.about_us_holder {
  width: 100%;
  max-width: 942px;
}

.about_us_main_title {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 28px;
}

.about_us_text {
  font-size: 19px;
  line-height: 30px;
  color: #000000;
}

.about_us_accomplishments_wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-left: 2px solid #e6e6f0;
  padding-left: 30px;
  width: 100%;
  max-width: 388px;
}

.accomplishments_card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accomplishments_holder {
  display: flex;
  align-items: center;
  gap: 8px;
}

.accomplishments_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.accomplishments_text {
  line-height: 20px;
  color: #323264;
}

.team_image_wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

.team_main_title {
  width: 100%;
  max-width: 476px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 96px;
  line-height: 117px;
  text-align: center;
  letter-spacing: 63px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.8;
  text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
}

.about_us_text_width {
  width: 100%;
  max-width: 938px;
}

.about_us_main_title_width {
  width: 100%;
  max-width: 362px;
}

.gap_big {
  gap: 60px;
}

.container_gap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.slider_cards_title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  margin-bottom: 30px;
}

.slider_cards_holder {
  display: flex;
  gap: 40px;
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slider_card {
  width: 100%;
  max-width: 370px;
  padding: 25px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 12px;
}

.slider_cards_dot_holder {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.slider_cards_dot {
  display: block;
  font-size: 16px;
  line-height: 20px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #24a3ff;
  opacity: 0.2;
}

.active_dot {
  display: block;
  font-size: 16px;
  line-height: 20px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #24a3ff;
}

.display_media_small {
  display: none;
}

.tab-content {
  margin-bottom: 30px;
}

.tab-pane {
  display: none;
}

.tab-pane_logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 370px;
  padding: 25px 0;
  background-color: #ffffff;
  border-radius: 12px;
}

.tab-pane.active_list {
  display: flex;
  gap: 40px;
}

.nav-tabs {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.nav-tabs_small {
  display: flex;
  justify-content: center;
  gap: 14px;
}

.slider_cards_dot:hover {
  opacity: 0.6;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #24a3ff;
}

.slick-dots li:hover button:before {
  font-size: 16px;
  line-height: 20px;
  width: 16px;
  height: 16px;
  color: #24a3ff;
  opacity: 0.6;
}

.grey_line_footer {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e6e6f0;
}