@import url(../content/null_for_all.css);
@import url(../content/header.css);
@import url(../content/publication_cards.css);
@import url(../content/footer.css);


/* * {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
}

li {
  list-style: none;
}

ol {
  list-style: none;
  counter-reset: li;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

span {
  display: block;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  padding-top: 50px;
}

.container {
  width: 100%;
  max-width: calc(1600px + 2rem);
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

.wrapper_header {
  display: grid;
  place-content: space-between;
  gap: 16px;
  grid-template-areas:
    "a b"
    "a c";
}

#a {
  grid-area: a;
}
#b {
  grid-area: b;
}
#c {
  grid-area: c;
}

.logo {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.line_height_pic {
  line-height: 0;
}

.page_name {
  font-size: 36px;
  line-height: 44px;
  color: #323264;
}

.top_menu {
  display: flex;
  align-items: center;
  gap: 6px;
}

.language_nav {
  display: flex;
  align-items: center;
}

.language {
  padding: 5px 7px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #b3b3ba;
}

.language:hover {
  background: #f5f5fa;
  border-radius: 8px;
}

.active {
  padding: 5px 7px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  background: #f0145a;
  border-radius: 8px;
  color: #ffffff;
}

.street {
  line-height: 20px;
  color: #b3b3ba;
}

.phone {
  font-weight: 700;
  line-height: 20px;
  color: #b3b3ba;
}

.facebook:hover path {
  fill: #f0145a;
}

.dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #e6e6f0;
}

.bot_menu {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

.hamburger,
.toggle_menu {
  display: none;
}

.nav_link {
  font-weight: 700;
  line-height: 20px;
  color: #24a3ff;
}

.nav_link:hover {
  border-bottom: 2px solid #24a3ff;
}

.active_page {
  font-weight: 700;
  line-height: 20px;
  color: #f0145a;
  border-bottom: 2px solid #f0145a;
} */

.button-back{
  position: fixed;
  width: 40px;
  height: 40px;
  top: 17%;
  right: 5%;
  border-radius: 50%;
  background-color: rgb(179, 179, 186);
}

.button-back:hover svg{
  border-radius: 50%;
  background-color: #f0145a;
}

.main {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container_main {
  width: 100%;
  max-width: calc(1360px + 2rem);
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

/* .publication_pic_title {
  border-bottom: 4px solid #e6e6f0;
  padding-bottom: 30px;
} */

.publication_pic {
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
}

.publication_article_title {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #323264;
  margin-bottom: 15px;
}

.publication_text_block {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.publication_text_paragraph {
  line-height: 26px;
  color: #000000;
}

.publication_subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #323264;
  margin-bottom: 15px;
}

.publication_main_message {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.publication_list li {
  display: flex;
  gap: 10px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.publication_list li::before {
  font-weight: 700;
  content: counter(li) ".";
  color: #f0145a;
  display: inline-block;
  width: 100%;
  max-width: 30px;
  text-align: right;
}

.publication_list li {
  counter-increment: li;
}

.publication_commercial_image {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}

.publication_commercial_text {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #b3b3ba;
  text-align: center;
}

.publication_social_media {
  display: flex;
  gap: 10px;
}

.social_media_emblem {
  padding: 9px;
  background-color: #f5f5fa;
  border-radius: 12px;
}

.social_media_emblem:hover {
  background-color: #ededf7;
}

/* .wrapper_main {
    display: flex;
    flex-direction: column;
    gap: 30px;
  } */

/* .publications_section {
  padding-bottom: 30px;
  border-bottom: 2px solid #e6e6f0;
}

.publications_subtitle {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
  margin-bottom: 10px;
}

.publications_subtitle:hover,
.publications_subtitle:hover path {
  color: #f0145a;
  stroke: #f0145a;
}

.publications_title {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 30px;
}

.publication_card_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.publication_card {
  background-color: #ffffff;
  border-radius: 8px 8px 0px 0px;
}

.publication_image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}

.publication_block {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
}

.publication_title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24a3ff;
}

.publication_card:hover .publication_title {
  color: #f0145a;
}

.publication_date {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b3b3ba;
}

.publication_grey_line {
  height: 4px;
  width: 100%;
  background-color: #e6e6f0;
}

.publication_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

.publication_button_holder {
  text-align: center;
} */

/* .footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #f5f5fa;
}

.wrapper_footer {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #e6e6f0;
  padding-top: 30px;
}

.company_information {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 21px;
}

.adress {
  line-height: 20px;
  color: #323264;
}

.map {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}

.social_phone {
  display: flex;
  align-items: center;
  gap: 10px;
}

.facebook_footer:hover svg path {
  fill: #f0145a;
}

.phone_footer {
  font-weight: 700;
  line-height: 20px;
  color: #46466e;
}

.email {
  font-weight: 700;
  line-height: 20px;
  color: #24a3ff;
}

.email:hover {
  color: #f0145a;
}

.dot_color {
  background: #b3b3ba;
}

.copyright {
  line-height: 20px;
  color: #b3b3ba;
} */
