@import url(../content/null_for_all.css);
@import url(../content/header.css);
@import url(../content/publication_cards.css);
@import url(../content/footer.css);
@import url(../content/form_contact.css);

/* * {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
} */

/* .header {
  padding-top: 50px;
}

.bg_color{
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  border-radius: 0px 0px 12px 12px;
}

.container {
  width: 100%;
  max-width: calc(1600px + 2rem);
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

.wrapper_header {
  display: grid;
  place-content: space-between;
  gap: 16px;
  grid-template-areas:
    "a b"
    "a c";
}

#a {
  grid-area: a;
}
#b {
  grid-area: b;
}
#c {
  grid-area: c;
}

.logo {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.line_height_pic {
  line-height: 0;
}

.page_name {
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
}

.top_menu {
  display: flex;
  align-items: center;
  gap: 6px;
}

.language_nav {
  display: flex;
  align-items: center;
}

.language {
  padding: 5px 7px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #ffffff;
}

.language:hover {
  background:rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.active {
  padding: 5px 7px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  background: #f0145a;
  border-radius: 8px;
  color: #ffffff;
}

.street {
  line-height: 20px;
  color: #ffffff;
}

.phone {
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
}

.facebook:hover path {
  fill: #f0145a;
}

.dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #e6e6f0;
}

.bot_menu {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

.hamburger,
.toggle_menu {
  display: none;
}

.nav_link {
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
}

.nav_link:hover {
  border-bottom: 2px solid #ffffff;
}

.active_page {
  font-weight: 700;
  line-height: 20px;
  color: #f0145a;
  border-bottom: 2px solid #f0145a;
} */

.services_block_pg{
  padding: 60px 0;
}

.services_card_container {
  width: 100%;
  max-width: 1360px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

.services_card_block {
  padding-bottom: 60px;
  margin-bottom: 30px;
  border-bottom: 4px solid rgba(255, 255, 255, 0.5);
}


.ecommerce_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  text-align: center;
}

.ecommerce_image {
  padding: 14px;
  background: #ffffff;
  border-radius: 24px;
}

.ecommerce_title {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.ecommerce_text {
  font-size: 19px;
  line-height: 30px;
  color: #ffffff;
}

/* .ecommerce_text_block {
  display: block;
} */

.ecommerce_button {
  padding: 18px 30px;
  background: #24a3ff;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
}

/* .services_area_block {
  padding-top: 30px;
} */

.services_area_title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 30px;
}

.services_area_list_holder {
  /* display: flex;
  gap: 60px; */
}

.services_area_list {
  columns: 2;
  column-gap: 60px;
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 15px;
  width: 100%; */
  /* max-width: 650px; */
  /* margin-left: 6px; */
}

/* .services_area_list_right {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 650px;
  margin-left: 6px;
} */

.services_area_text {
  display: flex;
  column-gap: 8px;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}

/* .services_area_text:nth-child(4){
  margin-bottom: 0;
} */

.services_area_text:last-child{
  margin-bottom: 0;
}

/* .red_dot{
  content: "\2022";
  background-color: #f0145a;
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
} */

.services_area_text::before{
  font-weight: 700;
  content: "\2022";
  color: #f0145a;
  display: inline-block;
  font-size: 24px;
  /* width: 100%;
  max-width: 30px;
  text-align: right; */
}

/* .services_area_text::before{
  content: "";
  background-color: #f0145a;
  display: inline-block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
} */

/* .red_dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #f0145a;
  padding-right: 8px;
}

ul .services_area_text::marker {
  content: "•";
  color: #f0145a;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
} */ 

/* .services_area_text {
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  padding-left: 8px;
  margin-bottom: 15px;
} */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.main {
  padding-bottom: 0;
  /* padding-left: 1rem;
  padding-right: 1rem; */
}

/* .footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #f5f5fa;
}

.publications_section {
  padding-bottom: 30px;
  border-bottom: 2px solid #e6e6f0;
}

.publications_subtitle {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
  margin-bottom: 10px;
}

.publications_subtitle:hover,
.publications_subtitle:hover path {
  color: #f0145a;
  stroke: #f0145a;
}

.publications_title {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 30px;
}

.publications_cards_holder {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-areas:
  "g h i";
  gap: 30px;
}

#i{
  grid-column-start: 1;
  grid-column-end: 3;
}

.publications_card {
  width: 100%;
  background-color: #ffffff;
}

.publications_image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
  margin-bottom: 30px;
}

.publications_card_padding {
  padding: 0 30px 30px 30px;
}

.publications_card_title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24a3ff;
  margin-bottom: 15px;
}

.publications_card_date {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b3b3ba;
  padding-bottom: 15px;
  border-bottom: 4px solid #e6e6f0;
}

.publications_card_text {
  padding-top: 15px;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

.wrapper_footer {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.company_information {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 21px;
}

.adress {
  line-height: 20px;
  color: #323264;
}

.map {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}

.social_phone {
  display: flex;
  align-items: center;
  gap: 10px;
}

.facebook_footer:hover svg path {
  fill: #f0145a;
}

.phone_footer {
  font-weight: 700;
  line-height: 20px;
  color: #46466e;
}

.email {
  font-weight: 700;
  line-height: 20px;
  color: #24a3ff;
}

.email:hover {
  color: #f0145a;
}

.dot_color {
  background: #b3b3ba;
}

.copyright {
  line-height: 20px;
  color: #b3b3ba;
} */

.button-back{
  position: fixed;
  width: 40px;
  height: 40px;
  top: 17%;
  right: 5%;
  border-radius: 50%;
  background-color: rgb(179, 179, 186);
}

.button-back:hover svg{
  border-radius: 50%;
  background-color: #f0145a;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.popup_wrapper {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #323264;
  z-index: 5;
}

.popup_wrapper.active_click {
  display: flex;
}

.close {
  display: block;
  position: absolute;
  right: 37px;
  top: 0;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
  font-size: 2rem;
  color: #ec6f5d;
  cursor: pointer;
}

/* .close {
    position: relative;
    cursor: pointer;
  }

  .close::before,
  .close::after {
    content: "";
    position: absolute;
    height: 2px;
    right: 0;
    background-color: #ec6f5d;
  }

  .close::before {
      top: 0;
      width: 18px;
      transform: rotate(-45deg);
  }

  .close::after {
    top: 0;
    width: 18px;
    transform: rotate(45deg);
  } */

/* .form_contact {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 650px;
  padding: 30px;
  background: #f5f5fa;
  border-radius: 12px;
}

.main_text_form {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.input {
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 16px;
  line-height: 26px;
}

.input:focus {
  border: 1px solid #24a3ff;
}

.input::placeholder {
  color: #b3b3ba;
}

.input:disabled {
  background: #ededf7;
  border: 1px solid #ededf7;
}

label {
  width: 100%;
}

.name_wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.width_padding {
  width: 100%;
  padding: 15px;
}

.message_contact {
  width: 100%;
  padding: 15px 15px 89px;
  resize: none;
}

.message_contact::placeholder {
  color: #b3b3ba;
}

.message_contact:focus {
  border: 1px solid #24a3ff;
}

.answer_wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.answer_contact {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b3b3ba;
}

.btn_contact {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #24a3ff;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  border: none;
  padding: 18px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn_contact:hover {
  background-color: #0085ff;
}

.btn_contact:active {
  background-color: #006ccf;
}

.red::placeholder {
  color: #ff0000;
}

.red {
  border: 1px solid #ff0000;
}

.red_text {
  color: #ff0000;
}

.loader {
  border: 4px solid #24a3ff;
  border-top: 4px solid #f3f3f3;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */