body{
    padding: 50px;
    margin: 0;
}

.main {
    margin: 0  auto;
    background-color: #fff;
}

caption{
    text-transform: uppercase;
    font-weight: 700;
}

table{
    empty-cells: hide;
    border: 1px dotted red;
    text-align: center;
    background-color: lightcoral;
}

.for_month{
    border: none;
}

.month{
    border-spacing: 5px 3px;
    padding: 2px 0;
}

td, th{
    border: 1px solid black;
}

th{
    background-color: grey;
    transition: all 0.8s ease-in-out;
}

th:hover{
    background-color: aqua;
}

col:first-child{
    background-color: yellow;
    color: black;
}

col:nth-child(7){
    background-color: blueviolet;
}

col:last-child{
    background-color: red;
}

.month_name{
    color: #fff;
    text-transform: uppercase;
    transition: all 1s ease-in; 
}

.month_name:hover{
    background-color: aquamarine;
    color: blue;
}

.january{
    background-color: blue;
}

.february{
    background-color: lightblue;
}

.march{
    background-color: pink;  
}

.april{
    background-color: lawngreen;
}