* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background: url(../image/0414ebf922b1f710962e13cea72320f404ebb28d.jpg) no-repeat center fixed;
    background-size: cover;
  }

  .menu{
    background-color: rgba(33, 135, 124, 0.74);
  }
  
  .menu a{
    text-decoration: none;
    display: block;
    color: #ffffff;
    text-transform: uppercase;
  }
  
  .menu_list {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
  }
  
  .menu_link {
    font-weight: 700;
    text-align: center;
    padding: 15px 20px;
  }
  
  .menu_list > li {
    display: inline-block;
    margin-right: -5px;
  }

  .menu li{
    position: relative;
    list-style: none;
  }
  
  .sub_menu_list {
    top: 100%;
    left: 0;
  }
  
  .list{
    background-color: rgb(94, 141, 212);
    position: absolute;
    display: none;
    min-width: 200px;
    z-index: 5;
  }
  
  .sub_menu_link{
    padding: 10px 20px;
  }
  
  .menu_list > li:hover .sub_menu_list {
    display: block;
  }
  
  .sub_sub_menu_list {
    left: 100%;
    top: 0;
  }

  .sub_menu_list > li:hover .sub_sub_menu_list {
    display: block;
  }
  
  .menu_list > li:hover{
    background-color: rgb(23, 73, 149);
  }
  
  .sub_menu_list > li:hover{
    background-color: rgb(184, 200, 223);
  }
  
  .sub_sub_menu_list > li:hover{
    background-color: rgb(109, 29, 185);
  }

  /* .sub_menu_link::after{
    content: "+";
    position: absolute;
    right: 5%;
  } */